# Homework #1

**Due: Friday Oct. 13th @ 11:59 pm**

**Objective:** This assignment will give you experience using a Jupyter notebook to write text and code, including variables, mathematical operations, string, and list manipulations.


## **Instructions:**
### Accessing Class Code

1. Create a new private repository on your GitHub account and name it "homework_1". This will be your personal GitHub repository that you will submit to Gradescope. **DO NOT** initialize your repository with a README! This will create a different commit than the repository you will eventually push to your GitHub and create conflicts, so please make sure it is completely empty to start with.

2. Go to the class GitHub Homework 1 [repository](https://github.com/OCEAN-215-2023/homework_1). 

3. Find the **SSH** URL (review Assignment #0b if you don't remember how to do this), and copy the URL to your clipboard.

4. In your JupyterHub terminal, change to your home directory. Run this line of code to clone the public classic repository into your local server: 
``` git clone git@github.com:OCEAN-215-2023/homework_1.git ```

5. Sometimes, our JupyterHub server has trouble remembering the file permissions for our SSH keys. If you get a file permission error with your private ssh key, run this line of code:
```chmod 400 ~/.ssh/id_ed25519``` 
<br>

This will change your file permission to the proper permissions that SSH requires.

6. There should now be a "homework_1" directory in the home directory of your JupyterHub. In terminal, change directories into "homework_1". Next, click on the the "homework_1" icon on the filepath hierarchy in the left panel of JupyterHub. If you don't see it, make sure you're in the home folder by clicking the folder icon under the search bar. 

7. In terminal, set your branch to main (step 17 in #0b) and your remote (origin) to your **_personal_** "homework_1" GitHub repository (step 18). Use these lines of code (you will only need to do these steps once to set up in the beginning): 
``` git init ``` <br>
``` git branch -M main``` <br>
``` git remote set-url origin __your_ssh_url_here__```

To check if your remote origin is set correctly, run: <br>
``` git remote -v ```

You should see an SSH URL with your GitHub username. 

8. Double click the "HW1.ipynb" to open it in a new tab and begin working on the assignment. Read the instructions carefully, and make sure to write your answers in the specified cells. Typically, you will see a "..." in the places you need to fill in. Make sure to use the variable names provided in the starter code. See the "Working in your Notebook" section below for an example.

9. Create a README file and write your name and UW NetID. Include a paragraph of instructions on how you used git commands to add, commit, and push to your repository (3-5 sentences). Now that y'all are GitHub connoisseurs, imagine that you are explaining how to use GitHub to someone who has never used GitHub before! :) 

10. As you continue to answer the homework questions and make edits to your code, make sure to regularly update your GitHub repository as well via git add, commit, and push (steps 15, 16, 19 in 0b). A good rule of thumb would be to run these git steps anytime you make an addition or change that you don't want to accidentally lose. Generally, you can push once a day to maintain good version control practices. <br>
As a note, make sure that your git commands are running without errors before you refresh your GitHub and check your changes. If you are not seeing the updated changes you created in your local JupyterHub directory, check where your status is by this command: <br>
``` git status```

Then, you can see if you made an error with your git add, commit, or push commands. 
    
### Submitting to GradeScope

11. Go to the class Gradescope dashboard and submit your **_private_** GitHub repository link to Homework 1 assignment. Make sure your GitHub is synchronized with Gradescope to access both your public _and_ private repositories. If prompted, log in to GitHub.

12. Run the autograder to check if your code runs and if you passed the initial unit tests. You should be able to run the autograder as many times as you want before submitting. Again, double check that your final answers are stored in the provided variable names given in the starter code!

13. Once the autograder has finished running, check that you have submitted the assignment. If you make any more changes to your code after submitting to Gradescope, make sure to push your changes to GitHub and resubmit the assignment on Gradescope. You can submit as many times as you want as there is no maximum submission attempts, but be sure to have your final submission in before the deadline.

### Working in your Notebook
    
   To help you start thinking about how to write meaningful and concise variable names, we have provided variable names in most of your questions. For example, "pelagic" and "coastal" are variable names in Question 2a to describe different oceanic zones you will be comparing. <br>
![Question_2a](part_a.png)
    Note that there is an ellipsis (the "...") after each of the variable names. These are the sections you are expected to fill in. Please use the provided variable names (ie "pelagic" and "coastal" in the above example) to report your final answer back in. This will ensure that the autograder on Gradescope runs properly. <br>
    <br>Make sure that you are adding comments and your outside references as you go along! Part of your grade will include using best coding practices in your homework assignments. 

### Honor Code

- Complete the assignment by writing and executing text and code cells as specified. For this assignment, do not use any features of Python that have not yet been discussed in the lessons or class sessions.

- Please keep in mind our late work and dropped homework grading policy. Review the syllabus for details.

- You can acknowledge and describe any assistance you've received on this assignment in the specified cell of the HW1 notebook, whether that was from an instructor, classmate (either directly or on Piazza), and/or online resources other than official Python documentation websites like docs.python.org or numpy.org. Alternatively, if you prefer, you may acknowledge assistance at the relevant point(s) in your code using a Python comment (#). Don't forget that you can receive extra credit from answering at least one question on Ed Discussion!

*Acknowledge assistance here or in comments above your code:*

<!-- BEGIN QUESTION -->

# Question 1 (20 points)

Although the goal of OCEAN 215 is not to teach "data science" per se, we hope this course will give you a window into the possibilities offered by data analysis. If you find that you enjoy working with data and writing computer code, you might want to consider a career in academic research or data science. But what is data science, precisely? To better understand this rapidly-growing field, we would like you to read the following article (which should take about 15 minutes), then answer the questions below. There are no wrong answers, but please respond thoughtfully with 2-3 sentences for each. 

Article: "What is data science?" Thinkful. https://www.thinkful.com/blog/what-is-data-science/. Read up until the "Your Turn" section.

> a) What data do you think you have generated today that might, at some point, be analyzed by a data scientist (5 points)?

> b) Can you think of an oceanography data set that could be considered "big data"? Why would it be classified as such (5 points)?

> c) The article describes how machine learning can be useful for making predictions and identifying relationships in data. Can you think of a research question or task in oceanography or your academic area of interest that might benefit from machine learning? Why might machine learning be particularly useful for that task (10 points)?

In [1]:
A) I think data that could be analyzed by data scientists are social media posts, online shopping data, health and fitness are all things I have generated that could be used for future analyzation. I think this information is useful becuase it can be analyzed to better understand human behavior and brain patterns/habits. 
B) A big data set consists of a large scale, fast speed, storage capabilities, and ubiquity of the devices that generate it. Ocean remote sensing with a high performance computer that uses mathematical models to simulate ocean salinity, currents, waves and tides could be an example of big data.  
C) I am interested in large scale cyanobacteria levels complared to different seasons. This machine would be useful to understandign the data becuase it could help me understand how currents and tide impact the cyanobacteria levels. Machine learing would be able to give me results that would be benificial for attaning data to use when researcing the bacteria during different times of the year.

SyntaxError: unmatched ')' (1671220928.py, line 1)

_Type your answer here, replacing this text._

<!-- END QUESTION -->

# Question 2 (25 points)

The depth of the photic zone (the maximum depth where photosynthesis can occur) in the ocean varies. In clear, pelagic water the photic zone extends to 200 meters depth. In turbid coastal water, the photic zone might only extend to 50 meters depth.

Diatoms are a type of phytoplankon (plankton that photosynthesize for energy). They have silica cell walls, and have no appendages for swimming. They must remain near the ocean surface in the photic zone to photosynthesize. To do this, they regulate their bouyancy to sink as slowly as possible. A small diatom might sink 0.9 feet/day, while a large one might sink 13.5 feet/day.

Use this information to answer the following questions by writing Python code in the cell below. **Please have your code output (print) each question part and the solution, including the units!**


> a) Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

> b) Convert the sinking rate of each diatom type to meters/day. (5 points)

> c) Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

> d) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

> e) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [ ]:
##Example code for printing answers
"""
answer = 50
units = "hours"
print("part f)",answer,units)
"""
# Provide your answers in the cells below:

### part a
Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

In [ ]:
Pelagic = 200 
coastal = 50
time = 'days'
depth = 'centimeters'
metricdepth = 'meters'
sdiatom = 0.9 # feet/ day
ldiatom = 13.5 # feet/ day
print('Pelagic depth:', Pelagic, 'meters')
print('Coastal depth:', coastal, 'meters')
print('Small diatom sinking rate:', sdiatom, 'feet/day')
print('Large diatom sinking rate:', ldiatom, 'feet/day' )

### part b
Convert the sinking rate of each diatom type to meters/day. (5 points)

In [ ]:
ft_to_m= 3.2808399
sdiatom = 0.9 # (number attached from earlier part)
ldiatom = 13.5 # (number attached from earlier part)
depth = 'meter' 
sdiatom_meter_per_day = 0.9 / 3.2808399
ldiatom_meter_per_day = 13.5 / 3.2808399

print('Small diatom sinking rate in meters/day:', sdiatom_meter_per_day)
print('Large diatom sinking rate in meters/day:', ldiatom_meter_per_day)

### part c
Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

In [ ]:
day_to_hours = 24 # (24 hours in a day)
m_to_cm = 100 # (100cm in a m)
sdiatom =0.9 # feet/day
ldiatom =13.5 # feet/day
conversions_partC = (30.28 / 24 ) # cm/hr (ft/day * cm/ft * day/hr =cm/hr)
sinking_rate_cm_hour_sdiatom = sdiatom / conversions_partC
sinking_rate_cm_hour_ldiatom = ldiatom / conversions_partC

print('Small diatom sinking rate in centimeters/hour:', sinking_rate_cm_hour_sdiatom)
print('Large diatom sinking rate in centimeters/hour:', sinking_rate_cm_hour_ldiatom)

### part d
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

In [ ]:
sdiatom = 0.9 # feet/ day
ldiatom = 13.5 # feet/ day

conversion_partD = 3.048 # Conversion factor: 1 foot = 30.48 meters

conversion_2partD_sdiatom = sdiatom * conversion_partD / 24 # Conversion from feet/day to meters/hour
conversion_3partD_ldiatom = ldiatom * conversion_partD / 24 # Conversion from feet/day to meters/hour

sdiatomsink = 50/ conversion_2partD_sdiatom
ldiatomsink = 50/ conversion_3partD_ldiatom

print('Days it takes a small diatom to sink coastal-', sdiatomsink) 
print('Days it takes a large diatom to sink coastal -', ldiatomsink)

### part e
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [ ]:
sdiatom_m_per_day = 0.11430000000000001 # m/day
ldiatom_m_per_day = 1.7145000000000001 # m/day

sdiatomsink = 100/ sdiatom_m_per_day #depth in m
ldiatomsink = 100/ ldiatom_m_per_day #depth in m
print('Days it takes a small diatom to sink pelagic -', sdiatomsink) 
print('Days it takes a large diatom to sink pelagic -', ldiatomsink)

# Question 3 (20 points)

Ribosomal RNA (rRNA) gene sequencing is often used in phylogenetic research. Each sequence is made up of combinations of 4 different nucleobases, adenine (A), cytosine (C), guanine (G), and uracil (U). Every species of bacteria and archaea has a slightly-unique version of its 16s rRNA gene. This means that 16s rRNA can be targeted to classify what marine bacteria are present in a given parcel of seawater.

In the code box below, there are two strings containing different rRNA sequences, which differ from DNA in that they contain uracil (U) nucleobases rather than thymine (T). Answer the following questions using Python. As in Question 2, please have your code output (print) the solutions to each, including any strings you are asked to create or slice.

> a) How many nucleobases are in each of the sequences?
How many times does guanine (G) occur in each of the sequences? (5 points)

> b) Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

> c) Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

> d) Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [1]:
# Keep these starting lines of code – DO NOT CHANGE THIS!:

RNA1 = 'GGGGGGCAGCAGUGGGGAAUAUUGGGCAAUGGACGAAAGUCUGACCCAGCCAUGCCGCGUGUGUGAAGAAGGCUCUAGGGUUGUAAUGCACUUUAAGUAGGGAGGAAAGGUUGUGUGUUAAUAGCACAUAGCUGUGACGUUACCUACAGAAUAAGCACCGGCUAACUCCGUGCCAGCAGCCGCGGUAAUACGGAGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGCGCGUAGGCGGUUAUUUAAGCUAGAUGUGAAAGCCCAGGGCUCAACCUUGGAAUUGCAUUUAGAACUGGGUAGCUAGAGUACAAGAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGAUUGAUACUGACGCUGAGGUGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCCAGUAGUCCU'
RNA2 = 'GGGGCGCAGCAGUGGGGAAUAUUGCACAAUGGGCGAAAGCCUGAUGCAGCCAUGCCGCGUGUGUGAAGAAGGCCUUCGGGUUGUAAAGCGCUUUCAGUUGUGAGGAAAGGGGUGUAGUUAAUAGCUACAUCCUGUGACGUUAGCAACAGAAGAAGCACCGGCUAACUUCGUGCCAGCAGCCUCGGUAAUACGAGGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGUUCGUAGGCGGUUUGUUAAGCAAGAUGUGAAAGCCCUGGGCUCAACCUGGGAACUGCAUUUUGAACUGGCAAACUAGAGUACUGUAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGACAGAUACUGACGCUGAGGAACGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUAGUAGUCUG'

# Provide your answers in cells below:

_Type your answer here, replacing this text._

In [2]:
RNA1 = 'GGGGGGCAGCAGUGGGGAAUAUUGGGCAAUGGACGAAAGUCUGACCCAGCCAUGCCGCGUGUGUGAAGAAGGCUCUAGGGUUGUAAUGCACUUUAAGUAGGGAGGAAAGGUUGUGUGUUAAUAGCACAUAGCUGUGACGUUACCUACAGAAUAAGCACCGGCUAACUCCGUGCCAGCAGCCGCGGUAAUACGGAGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGCGCGUAGGCGGUUAUUUAAGCUAGAUGUGAAAGCCCAGGGCUCAACCUUGGAAUUGCAUUUAGAACUGGGUAGCUAGAGUACAAGAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGAUUGAUACUGACGCUGAGGUGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCCAGUAGUCCU'
RNA2 = 'GGGGCGCAGCAGUGGGGAAUAUUGCACAAUGGGCGAAAGCCUGAUGCAGCCAUGCCGCGUGUGUGAAGAAGGCCUUCGGGUUGUAAAGCGCUUUCAGUUGUGAGGAAAGGGGUGUAGUUAAUAGCUACAUCCUGUGACGUUAGCAACAGAAGAAGCACCGGCUAACUUCGUGCCAGCAGCCUCGGUAAUACGAGGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGUUCGUAGGCGGUUUGUUAAGCAAGAUGUGAAAGCCCUGGGCUCAACCUGGGAACUGCAUUUUGAACUGGCAAACUAGAGUACUGUAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGACAGAUACUGACGCUGAGGAACGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUAGUAGUCUG'

RNA1.count("G")
gcount1 = RNA1.count("G")

nucleocount1 = len('GGGGGGCAGCAGUGGGGAAUAUUGGGCAAUGGACGAAAGUCUGACCCAGCCAUGCCGCGUGUGUGAAGAAGGCUCUAGGGUUGUAAUGCACUUUAAGUAGGGAGGAAAGGUUGUGUGUUAAUAGCACAUAGCUGUGACGUUACCUACAGAAUAAGCACCGGCUAACUCCGUGCCAGCAGCCGCGGUAAUACGGAGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGCGCGUAGGCGGUUAUUUAAGCUAGAUGUGAAAGCCCAGGGCUCAACCUUGGAAUUGCAUUUAGAACUGGGUAGCUAGAGUACAAGAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGAUUGAUACUGACGCUGAGGUGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCCAGUAGUCCU')
print("in RNA 1 there is a total of", gcount1, "guanine occurnaces and", nucleocount1 , "nucleobases")

RNA2.count("G")
gcount2 = RNA2.count("G")


nucleocount2 = len('GGGGCGCAGCAGUGGGGAAUAUUGCACAAUGGGCGAAAGCCUGAUGCAGCCAUGCCGCGUGUGUGAAGAAGGCCUUCGGGUUGUAAAGCGCUUUCAGUUGUGAGGAAAGGGGUGUAGUUAAUAGCUACAUCCUGUGACGUUAGCAACAGAAGAAGCACCGGCUAACUUCGUGCCAGCAGCCUCGGUAAUACGAGGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGUUCGUAGGCGGUUUGUUAAGCAAGAUGUGAAAGCCCUGGGCUCAACCUGGGAACUGCAUUUUGAACUGGCAAACUAGAGUACUGUAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGACAGAUACUGACGCUGAGGAACGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUAGUAGUCUG')
print("in RNA 2 there is a total of", gcount2, "guanine occurnaces and", nucleocount2 , "nucleobases")

in RNA 1 there is a total of 155 guanine occurnaces and 462 nucleobases
in RNA 2 there is a total of 154 guanine occurnaces and 462 nucleobases

### part b
Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

In [5]:
# report counter1 and counter2 back as booleans
counter1 = "UUUU" in RNA1 # if there is for U side by side then boolean will tell us yes in RNA 1
counter2 = "UUUU" in RNA2 # if there is for U side by side then boolean will tell us yes in RNA 2
print(DNA1)
print(DNA2)

GGGGGGCAGCAGTGGGGAATATTGGGCAATGGACGAAAGTCTGACCCAGCCATGCCGCGTGTGTGAAGAAGGCTCTAGGGTTGTAATGCACTTTAAGTAGGGAGGAAAGGTTGTGTGTTAATAGCACATAGCTGTGACGTTACCTACAGAATAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGCGGTTATTTAAGCTAGATGTGAAAGCCCAGGGCTCAACCTTGGAATTGCATTTAGAACTGGGTAGCTAGAGTACAAGAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGATTGATACTGACGCTGAGGTGCGAAAGCGTGGGGAGCAAACAGGATTAGATACCCCAGTAGTCCT
GGGGCGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGAAGGCCTTCGGGTTGTAAAGCGCTTTCAGTTGTGAGGAAAGGGGTGTAGTTAATAGCTACATCCTGTGACGTTAGCAACAGAAGAAGCACCGGCTAACTTCGTGCCAGCAGCCTCGGTAATACGAGGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGTTCGTAGGCGGTTTGTTAAGCAAGATGTGAAAGCCCTGGGCTCAACCTGGGAACTGCATTTTGAACTGGCAAACTAGAGTACTGTAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGACAGATACTGACGCTGAGGAACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTAGTAGTCTG

### part c 
Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

In [4]:


string1=RNA1.replace("U", "T")
print("DNA1", string1) 
DNA1 = 'GGGGGGCAGCAGTGGGGAATATTGGGCAATGGACGAAAGTCTGACCCAGCCATGCCGCGTGTGTGAAGAAGGCTCTAGGGTTGTAATGCACTTTAAGTAGGGAGGAAAGGTTGTGTGTTAATAGCACATAGCTGTGACGTTACCTACAGAATAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGCGGTTATTTAAGCTAGATGTGAAAGCCCAGGGCTCAACCTTGGAATTGCATTTAGAACTGGGTAGCTAGAGTACAAGAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGATTGATACTGACGCTGAGGTGCGAAAGCGTGGGGAGCAAACAGGATTAGATACCCCAGTAGTCCT'
 
string2=RNA2.replace("U", "T")
print("DNA2", string2) 

DNA2 ='GGGGCGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGAAGGCCTTCGGGTTGTAAAGCGCTTTCAGTTGTGAGGAAAGGGGTGTAGTTAATAGCTACATCCTGTGACGTTAGCAACAGAAGAAGCACCGGCTAACTTCGTGCCAGCAGCCTCGGTAATACGAGGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGTTCGTAGGCGGTTTGTTAAGCAAGATGTGAAAGCCCTGGGCTCAACCTGGGAACTGCATTTTGAACTGGCAAACTAGAGTACTGTAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGACAGATACTGACGCTGAGGAACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTAGTAGTCTG'

DNA1 GGGGGGCAGCAGTGGGGAATATTGGGCAATGGACGAAAGTCTGACCCAGCCATGCCGCGTGTGTGAAGAAGGCTCTAGGGTTGTAATGCACTTTAAGTAGGGAGGAAAGGTTGTGTGTTAATAGCACATAGCTGTGACGTTACCTACAGAATAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGCGGTTATTTAAGCTAGATGTGAAAGCCCAGGGCTCAACCTTGGAATTGCATTTAGAACTGGGTAGCTAGAGTACAAGAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGATTGATACTGACGCTGAGGTGCGAAAGCGTGGGGAGCAAACAGGATTAGATACCCCAGTAGTCCT
DNA2 GGGGCGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGAAGGCCTTCGGGTTGTAAAGCGCTTTCAGTTGTGAGGAAAGGGGTGTAGTTAATAGCTACATCCTGTGACGTTAGCAACAGAAGAAGCACCGGCTAACTTCGTGCCAGCAGCCTCGGTAATACGAGGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGTTCGTAGGCGGTTTGTTAAGCAAGATGTGAAAGCCCTGGGCTCAACCTGGGAACTGCATTTTGAACTGGCAAACTAGAGTACTGTAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGACAGATACTGACGCTGAGGAACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTAGTAGTCTG

### part d
Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [6]:
DNA1s= DNA1[0:24]
print("DNA1 frist 24 nucleobases-", DNA1s)

DNA2s= DNA2[0:24]
print("DNA1 frist 24 nucleobases-", DNA2s)

DNA1s.count("A")
DNA2s.count("A")

print("DNA1: there are", DNA1s.count("A"), 'A nucleobases', DNA1s.count("C"),'C nucleobases', DNA1s.count("G"), 'G nucleobases', DNA1s.count("T"), 'T nucleobases')
print("DNA2: there are", DNA2s.count("A"), 'A nucleobases', DNA2s.count("C"),'C nucleobases', DNA2s.count("G"), 'G nucleobases', DNA2s.count("T"), 'T nucleobases')

DNA1 frist 24 nucleobases- GGGGGGCAGCAGTGGGGAATATTG
DNA1 frist 24 nucleobases- GGGGCGCAGCAGTGGGGAATATTG
DNA1: there are 5 A nucleobases 2 C nucleobases 13 G nucleobases 4 T nucleobases
DNA2: there are 5 A nucleobases 3 C nucleobases 12 G nucleobases 4 T nucleobases

# Question 4 (25 Points)
Tides in the Gulf of Mexico are usually diurnal. This means that there is one high tide and one low tide every ~24 hours. This differs from our local semi-diurnal Seattle tides that have one high and one low every ~12 hours. Tidal amplitudes in the Gulf of Mexico are also very small compared to our local Puget Sound tides.

New Orleans, Louisiana is a city located on the Gulf of Mexico where diurnal tides dominate. The lists below contain the dates, high tide times, low tide times, high tide heights (in feet), and low tide heights (in feet) for tidal forcasts for the week of Oct. 1 - Oct 8, 2022. The lists are each the same length, with each index corresponding to a single day.

Use these lists and build Python code to answer the following questions. As before, please have your code output (print) the solutions and units for each. Make sure you are using the provided variable names to reference your variables instead of hardcoding your answers!

> a) What is the maximum high tide measurement during this week? Find it's index in the list. (5 points)

> b) Use list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. *(Hint: Tidal amplitude = maximum measurement - minumum measurement).* (5 points)

> c) What is the minimum low tide measurement during this week? Find it's index in the list. *(Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!)* (5 points)

> d) Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

> e) Find out which of the two dates have the highest tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [ ]:
# Keep these starting lines of code – these may not be changed:
dates = ['October 1','October 2','October 3','October 4','October 5','October 6','October 7','October 8']
high_times = ['6:05AM','6:53AM','7:42AM','8:32AM','9:21AM','10:10AM','11:02AM','6:07PM']
low_times = ['4:37PM','6:36PM','9:45PM','11:05PM', None,'00:07AM','1:02AM','1:55AM']
high_measurement_feet = [1.57, 1.65, 1.67, 1.61, 1.44, 1.25, 1.02, 0.85]
low_measurement_feet =  [-0.02, -0.07, -0.03, -0.02, None, 0.03, 0.16, 0.36]

# Provide your answers below:

In [7]:
high_measurement_feet = [1.57, 1.65, 1.67, 1.61, 1.44, 1.25, 1.02, 0.85]
max_value = max(high_measurement_feet)
units = "meters"
baseindex = high_measurement_feet.index(max_value)
print(" The maximum high tide for this week is-" , max_value)

 The maximum high tide for this week is- 1.67

### part b
Use your variable "baseindex" from part a) with list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. (Hint: Tidal amplitude = maximum measurement - minumum measurement). (5 points)

In [8]:
dates = ['October 1','October 2','October 3','October 4','October 5','October 6','October 7','October 8']
low_measurement_feet =  [-0.02, -0.07, -0.03, -0.02, None, 0.03, 0.16, 0.36]
unit = "feet"
amplitude = high_measurement_feet[2] - low_measurement_feet[2]
print( "The date of the maximum high tide is",  dates [-6], "with an amplitude of", amplitude, unit)

The date of the maximum high tide is October 3 with an amplitude of 1.7 feet

### part c
What is the minimum low tide measurement during this week? Find it's index in the list. (Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!) (5 points)

In [9]:
high_measurement_feet = [1.57, 1.65, 1.67, 1.61, 1.44, 1.25, 1.02, 0.85]
low_measurement_feet =  [-0.02, -0.07, -0.03, -0.02, None, 0.03, 0.16, 0.36]


minbase = low_measurement_feet.remove(None) 
minbaseindex= low_measurement_feet.insert(4,0.00)
minimum= (min(low_measurement_feet))

print("answer", minimum, unit)

#I used the min command to take the low tide value adn relace it then print results
#I removed none and used a fload instead so it wouldn't edit my print result

answer -0.07 feet

### part d
Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

In [10]:
min_amp = high_measurement_feet[1] - low_measurement_feet[1]
print("The minimum high tide is", dates[1], "and daily amplitude", amplitude, unit)

The minimum high tide is October 2 and daily amplitude 1.7 feet

### part e
Find out which of the two dates from part b) and part d) have the higher tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [19]:
print ("part e)")
print( "total tidal amlitudes") 
print("oct1" , high_measurement_feet[0]-low_measurement_feet[0]) # = 1.59
print("oct2" , high_measurement_feet[1]-low_measurement_feet[1]) # = 1.72
print("oct3" , high_measurement_feet[2]-low_measurement_feet[2]) # = 1.7
print("oct4" , high_measurement_feet[3]-low_measurement_feet[3]) # = 1.63
print("oct5" , high_measurement_feet[4]-low_measurement_feet[4]) # = 1.44
print("oct6" , high_measurement_feet[5]-low_measurement_feet[5]) # = 1.22
print("oct7" , high_measurement_feet[6]-low_measurement_feet[6]) # = 0.86
print("oct8" , high_measurement_feet[7]-low_measurement_feet[7]) # = 0.49
print("highest two valvues with boonlean")
dates = [1.59, 1.72, 1.7, 1.63, 1.44, 1.22, 0.86, 0.49]
dates.sort()
print(dates)
True >= 1.7 #determining three highest dates after dates.sort
False <= 1.7
print( 1.72 >= 1.7) #oct 6 test
print( 1.7 >= 1.7) #oct 5 test
print( 1.63 >= 1.7) #oct 4 test
print("two highest tital amplitudes are oct 5th and oct 6th")

part e)
total tidal amlitudes
oct1 1.59
oct2 1.72
oct3 1.7
oct4 1.6300000000000001
oct5 1.44
oct6 1.22
oct7 0.86
oct8 0.49
highest two valvues with boonlean
[0.49, 0.86, 1.22, 1.44, 1.59, 1.63, 1.7, 1.72]
True
True
False
two highest tital amplitudes are oct 5th and oct 6th